@font-face {
  font-family: "MoonLight";
  src: url("../fonts/MoonLight.otf");
}

@font-face {
  font-family: "MoonBold";
  src: url("../fonts/MoonBold.otf");
}

input[type='text'] {
  font-family: monospace; 
}

nav {
  font-family: "MoonLight";
  font-size: 1.3em;
}


body {
  background-image: url('/img/white-pineapple.jpeg');
  background-size: cover;
  font-family: "MoonLight";
}

h2, h3 {
  color: #327311;
}

/* 
h2 {
  padding-top: 2em;
}
*/

a {
  color: #6D6D6D;
  
}

p {
  font-size: 1.2em;
}

.navbar-brand {
  background-color: #E7E7E7;
}




