<h2>Sign up</h2>
<br>
<form action="/signup" method="POST">
Username: 
  <input type="text" name="user[username]" required></input>
E-mail:
  <input type="text" name="user[email]" required></input>
Password:
  <input type="password" name="user[password]" required></input>
  <input type="submit" value="Sign Up"></input>
</form>
