<h2>Sign up</h2>
<br>
<form action="/signup" method="POST">
Username: 
  <input type="text" name="user[username]"></input>
E-mail:
  <input type="text" name="user[email]"></input>
Password:
  <input type="password" name="user[password]"></input>
  <input type="submit" value="Sign Up"></input>
</form>
