
<h2>Here are all the study videos you haven't seen yet</h2>

<br>
<% @videos.each do |video| %>
  <p>
  <% if video.watched == "yes" %>
    <%= "✓" %>
  <% end %>  
  <a href="/videos/<%= video.id %>"><%= video.name %></a>
: <%= video.year %>. 
</p>
<% end %>

  

<br>
<form action="/videos/new" method="get">
  <input type="submit" value="Add a Video"></input>
</form>
<br>
