<h2>Edit A Section(topic)</h2>
<br>
<form action="/sections/<%=@section.id%>" method="POST">
  
Section name: 
  <input type="text" name="name" value="<%=@section.name%>"></input>
  <input type="submit" value="Save"></input>
</form>

<% if @user.id == @section.user_id %>
  <a href="/sections/<%=@section.id%>/delete">Delete Section</a>
<% end %>
