<h2>Which section would you like to review?</h2>
<br>
<h3>Full Stack Web Dev Program:</h3>

<% @user.sections.each do |section| %>
  <p><a href="/sections/<%=section.id%>"><%= section.name %></p>
<% end  %>

<br>
<form action="/sections/new" method="get">
  <input type="submit" value="Add a Section"></input>
</form>
<br>
