<!-- user greeting -->
<% if logged_in? %>
  <% @user = current_user %>
  <h4>Welcome, <%=@user.username %>!</h4>
<% end %> 
<!-- user greeting -->

<h2>Which section would you like to review?</h2>
<h3>Full Stack Web Dev Program:</h3>

<% @user.sections.each do |section| %>
  <p><a href="/sections/<%=section.id%>"><%= section.name %></p>
<% end  %>

<br>
<form action="/sections/new" method="get">
  <input type="submit" value="Add a Section"></input>
</form>
<br>
