<h2>LV Sections!</h2>

<ul>
<li><p><a href="/sections">View Sections</a></p></li> 
<li><p><a href="/sections/new">Create Sections</a></p></li>
<li><p><a href="/videos">View Videos</a></p></li>
<li><p><a href="/videos/new">Create Videos</a></p></li>
</ul> 
<br><br><br><br>
<ul>
  <li><p><a href=""> Intro to Ruby </a></p></li>
  <li><p><a href=""> Git and GitHub </a></p></li>
  <li><p><a href=""> HTML & CSS </a></p></li>
  <li><p><a href=""> Procedural Ruby </a></p></li>
  <li><p><a href=""> Object Oriented Ruby </a></p></li>
  <li><p><a href=""> SQL </a></p></li>
  <li><p><a href=""> ORM & ActiveRecord </a></p></li>
  <li><p><a href=""> Rack & Sinatra </a></p></li>
  <li><p><a href=""> Rails </a></p></li>
  <li><p><a href=""> Javascript </a></p></li>
  <li><p><a href=""> Rails and Javascript </a></p></li>
  <li><p><a href=""> Angular </a></p></li>
</ul>